.QuizList {
  padding-top: 90px;

  width: 100%;

  display: flex;
  justify-content: center;
  flex-grow: 1;

  background: linear-gradient(62deg, #7ebdfc 0%, #d2a8fa 100%);
}

.QuizList h1 {
  margin-bottom: 50px;

  text-align: center;
  color: #274258;
}

.QuizList ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.QuizList li {
  margin-bottom: 50px;
}

.QuizList li a {
  padding: 20px 200px 20px 200px;

  text-decoration: none;
  color: #fff;
  background: linear-gradient(62deg, #70b6fc 0%, #cc9bfa 100%);

  border: 1px solid #91bfe7;
  border-radius: 6px;
}

.QuizList li a:hover {
  background: #8ec5fc;
  background: linear-gradient(62deg, #70b6fc 0%, #cc9bfa 66%, #b19eff 100%);

  border: 1px solid #cb93ff;
}
