.Drawer {
  padding: 20px 10px;

  width: 80%;
  max-width: 300px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  backdrop-filter: blur(15px);

  transform: translateX(0px);

  z-index: 90;
  transition: transform 0.2s ease-in;
  box-sizing: border-box;
}

.Drawer.close {
  transform: translateX(-300px);
}

.Drawer ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.Drawer ul li {
  margin-bottom: 15px;
}

.Drawer ul li a {
  padding: 0 20px 10px 20px;

  position: relative;

  font-size: 25px;
  text-decoration: none;
  color: rgb(24, 24, 24);

  transition: opacity 0.3s;
}

.Drawer ul li a:hover {
  opacity: 0.7;
}
