.ActiveQuiz {
  padding: 20px;

  color: #393845;

  border: 2px solid #393845;
  border-radius: 10px;

  box-sizing: border-box;
}

.Question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
