.Auth {
  padding-top: 100px;

  width: 100%;

  display: flex;
  flex-grow: 1;
  justify-content: center;

  background: #232526;
  background: linear-gradient(to right, #1f1f38, #2c3033, rgb(255, 105, 162));

  background-size: 200% 100%;
  animation: black-pink 30s ease infinite;
}

.Auth > div {
  padding-top: 0 20px;
  width: 100%;
  max-width: 550px;
}

.Auth h1 {
  margin-bottom: 30px;

  text-align: center;
  color: rgb(207, 197, 197);
}

.AuthForm {
  padding: 15px;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@keyframes black-pink {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
